#sidebarWrapper {
  position: relative;
}

#sidebar {
  position: sticky;
  top: 125px;
  width: 25%;
  min-width: 225px;
}

.profile {
  background-color: var(--primary);
  width: 100%;
  height: 225px;
  border-radius: 20px;
  gap: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile > img {
  height: 75px;
  width: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.navigator {
  background-color: var(--secondary);
  width: 100%;
  border-radius: 20px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.navigator > * {
  margin: 20px 0 0 20px;
}

.navigator > *:last-child {
  padding-bottom: 30px;
}

.clusterName {
  font-size: 1.25rem;
  text-wrap: nowrap;
  padding-bottom: 30px;
}

.buttonCluster {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.buttonCluster > button {
  background-color: transparent;
  border: none;
  padding-left: 0;
  font-size: 1rem;
}

@media screen and (max-width: 760px) {
  #sidebar {
    align-self: center;
    width: 100%;
  }

  .profile {
    width: 100%;
  }

  .navigator {
    width: 100%;
  }
}
