#orderHistory{
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 20px;
}

.orderHistoryTitle{
    display: flex;
    align-items: center;
    height: 75px;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.orderHistoryDetails{
    display: flex;
    flex-direction: column;
}

.dateSelection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
    gap: 30px
}

.dateButtons{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 30px;
}

.dateButtons>*{
    height: 55px;
    width: 125px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary);
}

.orderTableColumnTitle{
   text-wrap: nowrap;
}

.orderTable{
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.orderTable>*{
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 10px;
}

.orderId{
    padding-left: 20px;
}

.courseName{
    grid-column: span 4;
    max-width: none;
}

.date{
    grid-column: span 2;
}

.status{
    text-wrap: nowrap;
}

.downloadButtonWrapper{
    justify-content: center;
}

.downloadButton{
    height: 50px;
    width: 50px;
}