.profile{
    background-color: var(--primary);
    width: 225px;
    height: 225px;
    border-radius: 20px;
    gap: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile>img{
    height: 75px;
    border-radius: 50%;
}

.navigator{
    background-color: var(--secondary);
    width: 215px;
    border-radius: 20px;
    gap: 30px;
    padding: 20px 0 0 10px;
    display: flex;
    flex-direction: column;
}

.navigator>*:last-child{
    padding-bottom: 30px;
}

.clusterName{
    font-size: 1.25rem;
    text-wrap: nowrap;
    padding-bottom: 30px;
}

.buttonCluster{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.buttonCluster>button{
    background-color: transparent;
    border: none;
    padding-left: 0;
    font-size: 1rem;
}

.buttonCluster>button:hover{
    color: var(--accent);
}
