.container {
  height: 50vh;
  margin: 5% 10% 0 10%;
  padding-bottom: 10rem;
}

.carousel {
  height: 100%;
}

.splide__track {
  height: 100%;
}

.carouselImage > img {
  object-fit: contain;
  height: 100%;
}

.slide {
  background-color: var(--accent);
  border-radius: 28px;
  height: 100%;
  width: 360px;
}

.carouselImage {
  background-color: var(--secondary);
  height: 290px;
  border-radius: 28px;
}

.carouselText {
  height: 130px;
}

.slideGap {
  margin: 0 28px 0 28px;
}

@media screen and (max-width: 568px) {
  .slide {
    width: 100% !important;
  }

  .splide__arrows {
    display: none;
  }
}
