.form__chf {
  width: 100%;
  background-color: var(--inputBackground);
  min-height: 100px;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup__chf {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formLabel__chf {
  font-size: large;
}

.formInput__chf {
  background-color: var(--inputBackground);
  border-radius: 10px;
  border: 2px solid var(--secondary);
  resize: vertical;
  padding: 15px;
  margin: 0;
}

.edit__chf {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submitButton__chf {
  max-width: 100px;
  padding: 10px 20px;
  border: 0;
  border-radius: 8px;
  margin-left: 1px;
  background-color: var(--accent);
}

.editButton__chf,
.cancelButton__chf {
  background-color: var(--inputBackground);
  padding: 5px 10px;
  border: 0;
  border-radius: 8px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1rem;
  gap: 5px;
}

.preview__chf {
  white-space: pre-line;
}
