.container__cc {
  min-height: 100vh;
  display: flex;
  padding: 3rem 50px;
}

.sidebar__cc {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 225px;
  padding: 2rem 0;
  gap: 10px;
}

.content__cc {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  gap: 20px;
}

.content__cc > iframe {
  aspect-ratio: 16/9;
  height: auto;
  width: 100%;
  border-radius: 20px;
}

.chapterTitle__cc {
  font-size: 1.5rem;
}

.chapter__cc {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  border: 1px solid black;
  height: 69.5px;
  box-sizing: border-box;
  padding: 22.5px;
  background-color: var(--secondary);
  border-radius: 20px;
}

.chapter__cc.selected {
  background-color: var(--primary);
}

.chapterInfo__cc {
  border-radius: 20px;
  background-color: var(--secondary2);
  padding: 2rem;
}

.chapterTitleWrapper__cc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.markButton__cc {
  margin: 0;
  border: 0;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.markCompletedButton__cc {
  background-color: var(--primary);
  color: white;
}

.markUnfinishedButton__cc {
  background-color: var(--secondary);
  color: black;
}