.container__cr {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  padding: 6rem;
}

.title__cr,
.courseBox__cr,
.formGroup__cr,
.formInput__cr {
  width: 100%;
  max-width: 48rem;
}

.container__cr h1 {
  font-size: xx-large;
  margin-bottom: 10px;
}

.courseBox__cr {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formGroup__cr {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formInput__cr {
  background-color: var(--inputBackground);
  border-radius: 10px;
  border: 2px solid var(--secondary);
  padding: 15px;
}

.formBottom__cr {
  display: flex;
  gap: 10px;
}

.formBottom__cr > button {
  height: 40px;
  width: 100px;
  border: 0;
  border-radius: 10px;
  background-color: var(--secondary);
}

.formBottom__cr > button:first-child {
  background-color: var(--inputBackground);
}
