/* html[data-theme="light"] {
  --text: #04030c;
  --background: #efeafb;
  --primary: #683bd8;
  --secondary: #c4b2f0;
  --accent: #4c23b3;
  --shadow: #969696;
  --special: #190b38;
}

html[data-theme="dark"] {
  --text: #f4f3fc;
  --background: #0a0516;
  --primary: #4520a0;
  --secondary: #190b38;
  --accent: #754cdc;
  --shadow: #000000;
  --special: #c4b2f0;
} */

/* html[data-theme="light"] {
  --text: #0a0a18;
  --background: #f5f5fc;
  --primary: #3932cf;
  --secondary: #8681eb;
  --accent: #5851ee;
}
html[data-theme="dark"] {
  --text: #e6e6f4;
  --background: #04040c;
  --primary: #3830cf;
  --secondary: #191480;
  --accent: #1911ac;
} */

html[data-theme="light"] {
  --text: #080b16;
  --background: #fafbfe;
  --inputBackground: #e6ecff;
  --primary: #5378f0;
  --secondary: #8aa1f0;
  --secondary2: #a8bcff;
  --accent: #476ef3;
  --accent2: #fafbfe;
  --accent3: #040a20;
  --separatorTop: url("../assets/separators/separator1.svg");
  --separatorBottom: url("../assets/separators/separator2.svg");
}
html[data-theme="dark"] {
  --text: #e9ecf7;
  --background: #00091a;
  --inputBackground: #1a2231;
  --primary: #2950d1;
  --secondary: #0f2775;
  --secondary2: #071c61;
  --accent: #0c33b6;
  --accent2: #05132e;
  --accent3: #819bf1;
  --separatorTop: url("../assets/separators/separator3.svg");
  --separatorBottom: url("../assets/separators/separator4.svg");
}

body {
  background-color: var(--background);
}
body::-webkit-scrollbar {
  display: none;
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.accent {
  background-color: var(--accent);
}

.separator {
  height: 300px;
  width: auto;
  object-fit: contain;
}

.top {
  background-image: var(--separatorTop);
}

.bottom {
  background-image: var(--separatorBottom);
}
