#navSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px 60px 0 60px;
  background-color: var(--background);
}

.logoContainer {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 5px;
  height: 100%;
}

.logo {
  display: none;
}

.logoText {
  max-height: 30px;
}

.logo,
.logoMenu > img {
  height: 7vw;
  min-height: 50px;
}

.logoMenu {
  padding: 2rem 0 0 0;
}

.navContainer {
  margin-right: 30px;
  display: flex;
  gap: 20px;
}

.navContainerMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem 1rem 1rem 1rem;
  gap: 2rem;
  position: fixed;
  top: 0;
  width: 50vw;
  height: 100vh;
  background-color: var(--secondary);
  transition: left 0.5s ease-in-out;
  z-index: 2;
}

.menu {
  display: none;
}

.navContainerMenu > button {
  margin: 0;
}

.navbarButton {
  background-color: transparent;
  border: none;
  font-size: 16px;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.signUp {
  border: none;
  margin-left: 40px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

.profileImg {
  height: 35px;
  width: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 993px) {
  .menu {
    display: block;
  }

  .navContainer {
    display: none;
  }

  #navSection {
    padding: 1rem 2rem 0 2rem;
  }

  .logoText{
    max-height: 20px;
  }
}

@media screen and (max-width: 1070px) {
  .navbarButton {
    font-size: 12px;
  }

  .logoText{
    max-height: 25px;
  }
}
