#hook {
  /* min-height: 100vh; */
}

.hookContainer {
  display: flex;
  justify-content: center;
  margin: 12% 12% 3% 12%;
  gap: 1.5rem;
}

.hookContainer > img {
  position: relative;
  left: -60vw;
  flex: 1;
  width: 650px;
  height: auto;
  aspect-ratio: 4/3;
  border-radius: 10px;
}

.details {
  position: relative;
  left: -15vw;
  flex: 1;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.hookStatement {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-wrap: nowrap;
}

.hookReason {
  line-height: 1.5rem;
  font-size: 18px;
  max-width: 85%;
}

@media screen and (max-width: 1275px) {
  .hookContainer {
    flex-direction: column;
    align-items: center;
  }

  .hookContainer > img {
    margin-top: 40px;
    width: 82.5%;
    height: 82.5%;
  }

  .hookStatement {
    text-align: center;
    margin-bottom: 50px;
  }

  .hookReason {
    max-width: 100%;
  }

  .details {
    margin: 0 7% 0 7%;
    padding-top: 0;
  }
}

@media screen and (max-width: 825px) {
  .hookStatement {
    font-size: 1.75rem;
  }

  .hookReason {
    font-size: 0.9rem;
  }

  .hookContainer > img {
    padding: 5% 10% 5% 5%;
  }
}

@media screen and (max-width: 600px) {
  .hookStatement {
    font-size: 1.5rem;
  }

  .hookReason {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 500px) {
  .hookStatement {
    font-size: 1.25rem;
    text-wrap: wrap;
  }

  .hookReason {
    font-size: 0.5rem;

    line-height: 20px;
  }

  .details {
    margin: 0;
  }
}
