#footer {
  min-height: 25vh;
  display: flex;
  padding: 1rem 10%;
  gap: 35px;
  text-wrap: nowrap;
}
.footerColumn {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 2;
  justify-content: center;
}

.columnItems,
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logoFooter {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin-right: 10px;
}

.formText {
  line-height: 25px;
}

.subscribeButton {
  border: none;
  width: 100px;
  height: 22.5px;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
}

@media screen and (max-width: 993px) {
  .logoFooter {
    display: none;
  }

  #footer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 757px) {
  #footer {
    padding: 1rem 16%;
  }

  .productCollumn {
    align-items: end;
  }

  .productCollumnItems {
    align-items: end;
  }

  .newsletter {
    align-items: center;
    padding-top: 20px;
    gap: 30px;
  }

  .newsletter > * {
    align-items: center;
  }

  .formText {
    text-align: center;
  }

  .subscribeButton {
    margin-left: 15px;
  }
}

@media screen and (max-width: 460px) {
  .emailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 390px) {
  .productCollumn,
  .productCollumnItems,
  .newsletter,
  form {
    align-items: start !important;
  }

  .subscribeButton {
    margin-left: 0;
  }

  .emailContainer {
    flex-direction: row;
    align-items: center;
  }
}
