#footer {
  min-height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 10%;
}
.footerColumn {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 2;
}

.columnItems,
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logoFooter {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 993px) {
  .logoFooter {
    display: none;
  }

  #footer {
    flex-wrap: wrap;
  }

  #footer:nth-child(3) > * {
    align-items: end;
  }
}
