#heroContainer {
  background-color: var(--primary);
  display: flex;
  min-height: 110vh;
  align-items: center;
  justify-content: space-around;
  padding: 0 0 5rem 0;
}

.heroButton {
  border: none;
  margin-left: 40px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
}

.heroButton:hover {
  transform: scale(1.05);
}

.textSide>* {
  margin: 20px;
}

.imageSide {
  margin-right: 120px;
}

.imageSide>img {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-width: 1000px;
}

.heroBig {
  font-size: 36px;
  max-width: 65%;
}

.heroSmall {
  font-size: large;
}

#highlightsContainer {
  min-height: 110vh;
}

.featuredCourse{
  display: flex;
  justify-content: center;
  margin: 0 120px 160px 120px;
  gap: 1.5rem;
}

.featureCircle{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--secondary);
}

.featuredCourseDetails{
  width: 530px;
}

.featuredCourseTitle{
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
  align-items: center;
}

.featuredCourseDescription{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.featuredCourseDescription :first-child{
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.featuredCourseDescription :last-child{
  line-height: 21px;
}

.featuredCourse > img{
  width: 530px;
  height: 340px;
}

.featuredCoursePoints{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4rem;
}

.featuredCoursePoints > *{
  display: flex;
  align-items: center;
  gap: 0.5rem
}

.highlights {
  height: 50%;
  width: 80%;
  margin-bottom: 25%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
  cursor: grab;
  border-radius: 31px;
  background: #efeafb;
  box-shadow: inset 28px 28px 99px #b2afb9, inset -28px -28px 99px #ffffff;
}

.item {
  min-width: 30rem;
  padding: 40px;
  pointer-events: none;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  box-shadow: 10px 10px 30px 10px #c5c2ce;
}

.innerCarousel {
  display: flex;
}

#featuresContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.features{
  display: flex;
  width: 100%;
}

.feature{
  width: 33%;
  gap:1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconContainer{
  display: grid;
  place-items: center;
  width: 140px;
  height: 140px;
  background-color: var(--primary);
  border-radius: 50%;
}

.textContainer{
  gap:1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}



#callToAction {
  height: 30vh;
  width: 70%;
  margin: 40px;
  margin-left: 15%;
  border-radius: 50px;
  box-shadow: 10px 10px 15px 0px var(--shadow);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary);
}

.ctaButton {
  border: none;
  margin-left: 40px;
  width: 130px;
  height: 39px;
  border-radius: 5px;
  background: #683bd8;
}

@media screen and (max-width:769px) {
  .features{
    flex-direction: column;
    align-items: center;
    gap:3rem;
  }
}

@media screen and (max-width: 1030px) {
  #heroContainer {
    flex-wrap: wrap-reverse;
    align-content: start;
    min-height: 80vh;
    gap: 5rem;
    padding: 4rem 0 3rem 0;
  }

  .textSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .heroBig{
    font-size: 32px;
  }

  .imageSide{
    margin-right: 0;
    padding: 0 2rem 0 2rem;
  }

  .aboutUsText {
    padding: 0;
  }
}

@media screen and (max-width: 1400px) {
  #aboutUs {
    flex-direction: column;
    padding: 3rem;
  }

  #aboutUs>img {
    max-width: 100%;
  }

  .aboutUsText {
    flex-direction: row;
    justify-content: space-around;
  }

  .aboutUsText>* {
    width: 30%;
  }
}