#heroContainer,
#highlightsContainer,
#spotlightContainer {
  height: 110vh;
}

#heroContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.textSide>* {
  margin: 20px;
}

.imageSide > img {
  object-fit: contain;
  width: 900px;
  height: 800px;
}

.heroBig {
  font-size: x-large;
}

.heroSmall {
  font-size: large;
}

.highlights {
  height: 50%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
  cursor: grab;
  border-radius: 31px;
  background: #efeafb;
  box-shadow: inset 28px 28px 99px #b2afb9,
    inset -28px -28px 99px #ffffff;
}

.item {
  min-width: 30rem;
  padding: 40px;
  pointer-events: none;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  box-shadow: 10px 10px 30px 10px #c5c2ce;
}

.innerCarousel {
  display: flex;
}

#featuresContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding: 10rem;
  min-height: 100vh;
}

.feature {
  height: 300px;
  width: 300px;
  border-radius: 30px;
  display: flex;
  perspective: 1000px;
}

.featureInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.feature:hover .featureInner {
  transform: rotateY(180deg);
}

.featureFront,
.featureBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 30px;
}

.featureFront,
.featureBack {
  background-image: linear-gradient(45deg, var(--primary), var(--secondary));
}

.featureFront img {
  width: 220px;
  margin-top: 1rem;
}

.featureBack {
  transform: rotateY(180deg);
}

.featureBack img {
  width: 140px;
  margin-top: 1rem;
}

.sCardContainer {
  width: 50px;
}

.spotlightCard {
  display: flex;
  height: 100%;
}

.sCardContainer {
  height: 100%;
  flex: 1;
  transition: all 0.2s ease-in;
}

.sCardContainer:hover {
  transform: scale(1.05);
}

#callToAction {
  height: 30vh;
  width: 70%;
  margin: 40px;
  margin-left: 15%;
  border-radius: 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .featureFront {
    display: none;
    /* Hide the featureFront element */
  }

  .featureInner {
    transform: rotateY(180deg);
    /* Rotate the featureInner to show the featureBack */
  }
}