html[data-theme="light"] {
  --text: #04030c;
  --background: #efeafb;
  --primary: #683bd8;
  --secondary: #c4b2f0;
  --accent: #4c23b3;
  --shadow: #8b8b8b;
}

html[data-theme="dark"] {
  --text: #f4f3fc;
  --background: #0a0516;
  --primary: #5d30cf;
  --secondary: #190b38;
  --accent: #754cdc;
  --shadow: #000000;
}

body {
  background-color: var(--background);
}
body::-webkit-scrollbar{
  display: none;
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.accent {
  background-color: var(--accent);
}

