html[data-theme="light"] {
  --text: #04030c;
  --background: #efeafb;
  --primary: #683bd8;
  --secondary: #c4b2f0;
  --accent: #4c23b3;
  --shadow: #8b8b8b;
}

html[data-theme="dark"] {
  --text: #f4f3fc;
  --background: #0a0516;
  --primary: #4520a0;
  --secondary: #190b38;
  --accent: #754cdc;
  --shadow: #000000;
}

body {
  background-color: var(--background);
}
body::-webkit-scrollbar{
  display: none;
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.accent {
  background-color: var(--accent);
}

.separator{
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top{
  background-image: url(../assets/separators/layered-waves-haikei.svg);
}

.bottom{
  background-image: url(../assets/separators/layered-waves-haikei2.svg);
}