#navSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 15px 60px 0 60px;
  background-color: var(--primary);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 5px;
}

.logo > div {
  color: var(--text);
  font-weight: bolder;
}

.logo > img {
  height: 5rem;
}

.navContainer {
  margin-right: 30px;
  display: flex;
  gap: 20px;
  
}

.navContainerMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem 1rem 1rem;
  gap: 2rem;
  position: fixed;
  top: 0;
  width: 60vw;
  height: 100vh;
  background-color: var(--primary);
}

.menu {
  display: none;
}

.navContainerMenu > button {
  margin: 0;
}

.logoMenu > img {
  height: 5rem;
  margin: 0.5rem;
}

.navbarButton {
  background-color: transparent;
  border: none;
}

.signUp {
  border: none;
  margin-left: 40px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

@media screen and (max-width: 993px) {
  .menu {
    display: block;
  }
  .navContainer {
    display: none;
  }
  .logo > div {
    display: none;
  }
  #navSection {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 1030px) {
  .navbarButton {
    font-size: 12px;
  }
}
