#heroContainer, #highlightsContainer, #spotlightContainer, #callToAction{
    height: 100vh;
}

#heroContainer{
    display: flex;

    align-items: center;
    justify-content: space-around;
}

.textSide > *{
    margin:20px;
}

#highlightsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}